html, body {
    background-color: #F5FAFE;
    font-family: Muli;
    margin: 0px;
   
}

.headercontainer {
    display: grid;
    grid-template-rows: 60px 120px 60px;
}
.navtop {
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
}

.divh1 {
    margin-left: 10%;
}
.divh2 {
    margin-right: 10%;
}
#gifticon {

}
#gift {
    margin-left: 20px;
    width: 64px;
    height: 13px;

}
#staricon {
    margin-left: 98px;
   
}
#loyalty {
    margin-left: 20px;
    width: 77px;
    height: 13px;
}
.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}
#logo {
    margin-left: 10%;
    width: 177px;
    height: 24px;
}
.searchbutton {
    margin-left: 12%;
}
#search{
    
    width: 285px;
    height: 38px;
    
    border-width: 0px;
    background-color: #F5FAFE;
}

#button{
    background-color: #EC1F46;
    border-width: 0px;
    width: 65px;
    height: 40px;
    border-radius: 0px 6px 6px 0px;   
}
#cart {
    margin-left: 25%;
}
#numberoncart {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1439px;
    top: 97px;
    font-weight: 600;
    font-size: 10px;
    color: white;
    background-color: red;
    background-size: cover;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    
}
#avatar {
    margin-left: 6%;
}
#name {
    margin-left: 18px;
    font-size: 14px;
}
#arrow {
    margin-left: 21px;
    width: 24px;
    height: 24px;

}
.navbarBottom {
    background-color: #0A223D ;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    
}
.menu{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-self: center;

}
.breadCrumb {
    display: flex;
    align-items: center;
    position: relative;
    width: 186px;
    height: 50px;
    top: 18px;
    margin-left: 10%;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
  }
  .hotelName{
    margin-left: 10%;
    margin-top: 24px;
    display:flex;
    flex-direction: column;
}
.stars{
    margin-top: 18px;
}
.GrandHiltonHotel{
    margin-top: 4px;
    font-size: 24px;
    font-weight: bold;
    width: 95%;
}
.flashOffer{
    font-size: 10px;
    background-color: #EC1F46;
    color: white;
    width: 58px;
    height: 14px;
    padding: 3px 6px;
    border-radius: 3px;
    align-self: center;
    margin-left: 14px;
    top: -5px;
    position: relative;

}
.hotelText{
    font-size: 12px;
    color:#333333;
    position: relative;
    top: -40px;
}

.userRatings {
    width: 65px;
    height: 45px;
    background-color: #EC1F46;
    color: white;
    font-size: 8px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 89%;
    position: relative;
    top: -30px;
}

.ur1 {
    font-size: 14px;
}

.ur2 {
    font-size: 10px;
}

.slider-booking-map {
    position: relative;
    width: 1110px;
    left: 10%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 720px 350px;
    grid-template-rows: 225px 225px;
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    
}
.hotelimg {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    max-width: 100%;
}

.bookingcontainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 315px;
    background-color: #0a223d;
    color: white;
    border-radius: 8px;
    padding: 20px;
    height: 160px;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    margin-left: 410px;
}

.price {
    width: 100px;
    display: flex;
    flex-direction: column;
}
#price2 {
    font-size: 27px;
    display: flex;
    flex-direction: column;
}

#guests {
    position: relative;
    margin-left: 75px;
}

#quickbooking {
    font-size: 18px;
}

#number {
    font-size: 18px;
    position: relative;
    margin-left: 75px;
}

#viewother {
    position: absolute;
    
    padding: 6px;
    padding-right: 90px;
    padding-left: 90px;
    background-color: #EC1F46;
    color: #FFFFFF;
    border-radius: 4px;
    border: solid;
    border-color: rgba(255, 0, 0, 0);
}
.map {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 213px;
    top: -10px;
    margin-left: 410px;
   
}
.cardscontainer {
    
    width: 100%;
    height: 80px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
}

.cards {
    color: #333333;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: relative;
    
    }

.inevidence {
    color: #EC1F46;
    border-bottom: solid 4px;
    height: 30px;

}

.container {
 
    display:grid;
    grid-template-columns:758px 758px;
    position: relative;
    margin-left: 8%;
    margin-top: 30px;
  }
  
  .tab {
    width: 738px;
    height: 200px;
    background-color: white;
    margin:32px;
    border-radius: 8px 8px 8px 0px;
  }
  
  .high  {
    color: white;
    background-color: #0a223d;
    width: 714px;
    height: 34px;
    padding-left: 24px;
    padding-top: 16px;
    border-radius: 4px 4px 0px 0px;
  }
  
  .larger {
    width:1500px;
    height: 400px;
  }
  .larg {
    width: 1476px;
  }

  .packagesummary {
    font-weight: bold;
    font-size: 24px;
    width: 240px;
    height: 30px;
    position: relative;
    margin-top: 47px;
    margin-left: 10%;
    color: #333333;
  }

  .tabhig {
    display: grid;
    padding-left: 63px;
    padding: 6px 0px 27px 24px;
    grid-template-columns: 255px 255px;
    
  }
  .th {
    position: relative;
    margin-top: 21px;
  }

  .ths {
    position: relative;
    margin-left: 21px;
    font-size: 12px;    
  }
 
  .space {
    color: white;
  }

.summaryflex {
    position:relative;
    margin-top: 38px;
    display:flex;
    margin-left: 27px;
    flex-direction: row;
}

.summaryflex span {
    width: 450px;
    height: 34px;
    position:relative;
    margin-left: 27px;
    color: #333333;
}

.summdiv {
    position:relative;
    margin-top: 21px;
}

.landbased {
    display:flex;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
 }
.landbased span {
    width: 250px;
    position:relative; 
}

.waterbased {
    position:relative;
    margin-left: 100px;
}

.landbased {
    display:flex;
    flex-direction: column;
    position: relative;
    

  }
.landbased span {
    width: 350px;
    position:relative;
    
  }
  
.waterbased {
    position:relative;
    width: 250px;
  }

.summaryspan {
    color: #333333;
    font-size: 12px;
  }

.summaryhead {
    color: #EC1F46;
    font-size: 13px;
  }

.otherpackages {
    position: relative;
    margin-top: 98px;    
    height: 45px;   
    text-align: center;
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    }
.cardsscontainer {
    
    height: 1030px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto; 
    margin-top: 65px;
    margin-left: 10%;
    padding: 0px;
  }
  
.blue {
    
    background-color: #0A223D;
    grid-column: 1 /  3;
    grid-row: 1 / 2;
    height: 500px;
    width:967px;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: row;
  }
  
.Lux {
    background-color: #0A223D;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-left: -12%;
    height: 500px;
    width: 350px;
    border-radius: 8px 8px 8px 8px;
  }
  
.white {
  
   background-color: #0A223D;
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   margin-top: 30px;
   height: 500px;
   width: 350px;
   border-radius: 8px 8px 8px 8px;
  }
  
.luxury {
  
   background-color: #0A223D;
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   
   margin-top: 30px;
   height: 500px;
   width: 350px;
   border-radius: 8px 8px 8px 8px;
  }
  
.five-star {
  
   background-color: #0A223D;
   grid-column: 3 / 4;
   grid-row: 2 / 3;
   margin-left: -12%;
   margin-top: 30px;
   height: 500px;
   width: 350px;
   border-radius: 8px 8px 8px 8px;
  }
.cardsimg {
   border-radius: 8px 8px 0px 0px;
  }

.card1 {
  border-radius: 8px 0px 0px 8px;
  }

.cardinfo1 {
    color: white;
    padding-top: 46px;
    padding-left: 43px;
 }

#card1hotelname {
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
  }

#card1moreinfo {
    margin-top: 27px;
    font-size: 14px;
    margin-right: 21px;
  }

.card1details {
    margin-top: 34px;
        
    }

.card1detailsdiv {
    margin-top: 11px;
    }


.card1price {
    margin-top: 37px;
    font-size: 14px;
}

#card1oldprice {
    text-decoration-line: line-through;
}

#card1newprice {
    font-weight: bold;
    font-size: 24px;
}

.cardinfo {
    color: white;
    padding-top: 20px;
    padding-left: 43px;
 }

#cardhotelname {
 
    font-weight: bold;
    font-size: 18px;
  }


.carddetails {
    margin-top: 10px;
        
    }

.carddetailsdiv {
    margin-top: 8px;
    }


.cardprice {
    margin-top: 24px;
    font-size: 14px;
}

#cardoldprice {
    text-decoration-line: line-through;
}

#cardnewprice {
    font-weight: bold;
    font-size: 24px;
    width: 300px;
}
.cardflash {
    position: relative;
    top: -250px;
    right: 43px;
    background-color: #EC1F46;
    width: 50px;
    height: 8px;
    font-size: 8px;
    padding: 5px;
    border-radius: 0px 4px 4px 0px;
}

.card1flash {
    position: relative;
    top: 15px;
    right: 367px;
    color: white;
    background-color: #EC1F46;
    width: 270px;
    height: 20px;
    font-size: 12px;
    padding: 6px 6px 1px 4px;
    border-radius: 0px 4px 4px 0px;
}
.cardbutton {
    position: relative;
    background: #EC1F46;
    border-radius: 4px;
    color: white;
    width: 120px;
    height: 40px;
    margin-left: 92px;
    border: solid rgba(255, 255, 255, 0);
    top: -15px;
}
.guestreviewcontainer {
    margin-top: 98px;
    text-align: center;
    height: 550px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.whatpeople {
    
    font-size: 36px;
    font-weight: bold;

    
}  

.user {
    font-size: 10px;
    position: relative;
    top: -50px;
    left: -260px;
    text-align: center;
    width: ;
}

.userreview {
    font-size: 12px;
    color: #EC1F46;
    font-weight: bold;
}

.reviewbox {
    width: 607px;
    height: 238px;
    font-size: 12px; 
    display: flex;
    flex-direction: column;
    color: #333333; 
    background-color: white;
    text-align: justify;
    padding: 0px 95px 30px 99px;
    align-items: flex-end;
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.newsletter {
    background-image: url(/Images/NEWSLETTER-BACKGROUND.png);
    background-size: cover;

}
.newsletterbckg {
    height: 261px;
    background-color:rgba(10, 34, 61, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.subscribe {
    color: white;
    font-size:24px;
    font-weight: 300;
    margin-left: 20%;
}

.subscribe2 {
    font-size: 36px;
    font-weight: 600;
}

.emailaddress {
    margin-right: 20%;
}

#email {
    width: 350px;
    height: 56px;
    border: solid rgba(255, 255, 255, 0);
    padding-left: 33px;
    border-radius: 4px;
    color: #BDBDBD;
}

#send {
    width: 65px;
    height: 64px;
    border: solid rgba(255, 255, 255, 0);
    border-radius: 0px 4px 4px 0px;
    margin-left: -65px;
    background-color: #EC1F46;
    color: white;
}

.otheractivities {
    position: relative;
    margin-left: 10%;
    margin-top: 60px;
    margin-right: 10%;
}

#other {
    font-size: 24px;
}

.group {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    color: white;
    
}


.groupcard {
    width: 255px;
    height: 255px;
    border-radius: 6px;
    background-size: cover; 
    
}
.groupcard1 {
    background-image:linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(/Images/Rectangle221.png);
}

.groupcard2 {
    background-image:linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(/Images/Rectangle222.png);
}

.groupcard3 {
    background-image:linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(/Images/Rectangle223.png);
}

.groupcard4 {
    background-image:linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(/Images/Rectangle224.png);
}

.groupcardt {
    position: relative;
    margin-top: 150px;
    margin-left: 28px;
    margin-right: 28px;
}

.booknow {
    margin-left: 28px;
    margin-top: 18px;
    width: 100px;
    height: 30px;
    background-color: #EC1F46;
    color: white;
    border-radius: 4%;
    border: solid rgba(255, 255, 255, 0);
}

.footercontainer {
    background-color: #0A223D;
    height: 900px;
    margin-top: 100px;
}
.f1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.footerlogo {
    margin-top: 108px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 64px;
    font-family:'Luckiest Guy', cursive;
    font-weight: bold;
}

.footerlogo2 {
    color: #EC1F46;
    margin-top: -15px;
    margin-bottom: -15px;
}


.legal, .allcategories , .additional {
    
    margin-top: 108px;
    margin-right: 10%;
    font-size: 18px;
    font-weight: bold;
}

.footervoices {
    font-size: 14px;
    font-weight: normal;
    color: #BDBDBD;
}

.socialnetwork {
    position: relative;
    padding-left: 40px;
}

.f2 {
    display: flex;
    flex-direction: row;
    
    color: white;
}
.contactmessage {
    margin-left: 10%;
    margin-top: 101px;
    font-size: 18px;
    font-weight: bold;
    color: white;

}

.sendus {
    position: relative;
    padding-left: 7%;
    width: 700px;
    height: 317px;
    
}

#feelfree {
    margin-top: 35px;
}

.contactdetailsinfo {
    margin-top: 30px;
}

.marginleft {
    margin-left: 21px;
}

.phone {
    margin-left: 41px;
}

.namenumber {
    width: 255px;
    height: 50px;
    color: #BDBDBD;
    padding-left: 23px;
    border-radius: 4px;
}
.message {
    width: 565px;
    height: 123px;
    border-radius: 4px;
    margin-top: 15px;
    padding-left: 23px;
}

#sendmessage {
    width: 160px;
    height: 50px;
    color: white;
    background-color: #EC1F46;
    border: solid rgba(255, 255, 255, 0);
    margin-top: 22px;
}

.required {
    margin-left: 330px;
    font-size: 12px;
    font-weight: bold;
    color: #E0E0E0;
}

.footerbottom {
    position: relative;
    margin-top: 102px;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.footerbottom span {
    margin-left: 10px;
}

#footerbottomlogos {
    margin-right: 10%;
}
.disclaimer {
    margin-right: 25%;
}

#form {
    margin-top: 30px;
}